/* src/pages/Profile.css */

.profile-page {
    margin-left: 220px;
    margin-top: 90px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:auto;
    position: fixed; 
  }
  
  .profile-page h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
  }
  
  .profile-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #333;
  }
  
  .profile-form input,
  .profile-form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .profile-form textarea {
    resize: vertical;
    height: 80px;
  }
  
  .profile-form button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .profile-form button:hover {
    background-color: #0056b3;
  }
  